# Lambda Expressions, Map, and Filter Functions



## `map` function

In [20]:
def square(num):
    return num**2

In [21]:
my_nums = [1,2,3,4,5]

Instead of using a `for` loop to to get the square of each item in the list, we can use a **map**

There are two ways to accomplish this with **maps** - the first way is to use a `for` loop with the following syntax:

```
for item in map(func,list):
    print(item)
```

_Example below_:

In [24]:
for item in map(square,my_nums):  # for each item in the list, use the square function on the given list (my_nums)
    print(item)

1
4
9
16
25

The other way to accomplish this with maps is to store the result in a list itself:

In [25]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [27]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [9]:
names = ['Andy', 'Eve', 'Sally']

In [29]:
list(map(splicer,names))

['EVEN', 'E', 'S']

## `filter` function

* Requires a function that returns either `True` or `False`

In [3]:
def check_even(num):
    return num % 2 == 0

In [2]:
mynums = [1,2,3,4,5,6]

In [4]:
# lets say I only want even numbers from the list
list(filter(check_even,mynums))

[2, 4, 6]

## Lambda Expressions

The simplest syntax for a **lambda expression** is:
`lambda <input>: <return value or expression>`

In [44]:
def square(num):
    result = num ** 2
    return result

In [45]:
square(3)

9

Let's see how we turn the simple function above into a **lambda expression**

In [5]:
square = lambda num: num ** 2

In [48]:
square(5)

25

Oftentimes instead of assigning the **lambda expression** to a variable like that, it's used in conjunction with `map` and `filter` functions

In [6]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

And here is a **lambda expression** used in conjunction with a `filter` expression:

In [7]:
list(filter(lambda num: num%2 == 0, mynums))

[2, 4, 6]

In [10]:
names

['Andy', 'Eve', 'Sally']

In [11]:
# lets say we just want the first character of each name in the `names` list
list(map(lambda name:name[0],names))

['A', 'E', 'S']

In [12]:
# lets say we wanted to reverse all of the names
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']