# **Sets**
* **sets** are unordered collections of **unique** elements
    * meaning there can only be one representative of the same object
* the syntax for creating a **set** is: `myset = set()`

In [1]:
myset = set()

In [2]:
myset

set()

### Adding to a set

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add(2)

In [6]:
myset

{1, 2}

### Trying to add a duplicate element into the set:

In [7]:
myset.add(2)

In [8]:
myset

{1, 2}

### Casting with a set
You can use a **set** to find all of the *unique* values in a list:

In [9]:
mylist = [1,2,2,2,1,1,1,1,1,1,3,3,3,3,3,3]

In [10]:
set(mylist)

{1, 2, 3}